$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.breadcumb {
  margin-top: 50px;
  .arrow {
    width: 50px;
    height: 50px;
    background-color: #d9d9d980;
    // opacity: 0.5;
    border-radius: 50%;

    img {
      display: block;
      max-width: 24px;
      max-height: 24px;
    }
  }

  .breadcrumb-item {
    font-size: 12px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: #9f9f9f;
    }

    &.active {
      color: #000;
      font-weight: bold;
    }
  }
}

.mainContent {
  margin-top: 100px;

  .heading {
    h1 {
      font-size: 56px;
      font-weight: 600;
      font-family: "Poppins";
      color: #000;
    }

    .price {
      margin-top: 25px;
      margin-bottom: 20px;
      color: #20bf6b;
      font-family: "Poppins";
      font-size: 24px;
      font-weight: 700;
    }

    .describe {
      font-weight: 500;
      color: #000;
      font-family: "Poppins";
      font-size: 16px;
      opacity: 50%;
      text-align: justify;
    }

    .button-Shop {
      .btn-shop {
        background-color: #e58411;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .mySwiper {
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        cursor: pointer;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .secondImage {
        margin-top: 50px;

        img {
          border-radius: 10px;
          width: 70px;
          height: 70px;
          background-size: cover;

          @include media-breakpoint-up(sm) {
            width: 80px;
            height: 80px;
          }

          @include media-breakpoint-up(md) {
            width: 100px;
            height: 100px;
          }

          @include media-breakpoint-up(lg) {
            width: 105px;
            height: 105px;
          }
        }
      }
    }

    .swiper-slide-thumb-active {
      // opacity: 0.5;
      overflow: hidden;
      // background-color: red;

      img {
        border: 2px solid #e58411;
      }
    }
  }
  .thumbnail {
    img {
      border-radius: 20px;
    }
  }
}
